[Unit]
Description=Sadet auto db

[Service]
WorkingDirectory=/home/pi/sadet.output.d/
ExecStart=python3 run.py
Restart=always
RestartSec=900

[Install]
WantedBy=dafault.target
